@use 'app-settings';

.app-header {
  position: relative;
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: start;
  padding-inline-start: 4rem;
  font-family: var(--headers-font-family);
  font-size: 2rem;
  color: #fff;
  background: var(--theme-color);
  border-block-end: var(--grid-border);
  block-size: 5rem;

  > .show-side-menu {
    display: none;

    > img {
      filter: invert(92%);
    }
  }
}

@media (max-width: app-settings.$breakpoint) {
  .app-header {
    display: grid;
    place-content: center;
    align-items: unset;
    justify-content: unset;
    padding: 0;
    text-align: center;
    block-size: 3rem;

    > .show-side-menu {
      position: absolute;
      inset-block: 0.5rem;
      inset-inline-start: 0.5rem;
      display: unset;
    }
  }
}
