.botw
  &-sets
    th
      text-align: center
      vertical-align: top

    td
      text-align: left
      vertical-align: top
      white-space: nowrap

    ul, li
      margin: 0
      padding: 0
      list-style-type: none
