---
import Layout from '$layouts/Login.astro'
import { verify } from '$lib/auth/api'
import { JwtCookie, SessionTokenCookie } from '$lib/auth/cookies'

const jwtCookie = new JwtCookie(Astro.cookies)
const sessionTokenCookie = new SessionTokenCookie(Astro.cookies)

let error = ''
const verificationCode = Astro.url.searchParams.get('verification-code')
const sessionToken = sessionTokenCookie.value()

if (verificationCode && sessionToken) {
  try {
    const body = await verify(verificationCode, sessionToken)

    sessionTokenCookie.delete()
    jwtCookie.set(body.jwt)

    return Astro.redirect('/login/logged-in')
  } catch (err) {
    error = String(err)
  }
} else {
  error = 'missing token'
}
---

<Layout>
  <p>Log in failed: <em>{error}</em>. <a href="/login">Please try again</a>.</p>
</Layout>
