---
import Layout from '$layouts/Tools.astro'
import FormGrid from '$components/FormGrid'
import JavaScriptWarning from '$components/JavaScriptWarning.astro'
---

<Layout title="drop rates">
  <h1>Drop Rate Calculator</h1>

  <JavaScriptWarning />

  <form>
    <FormGrid suffix>
      <FormGrid.Field label="Drop rate" for="drop-rates:drop-rate" suffix="%">
        <input
          id="drop-rates:drop-rate"
          name="drop-rate"
          type="text"
          inputmode="decimal"
          pattern="\\d+(?:[,\\.]\\d+)?"
        />
      </FormGrid.Field>

      <FormGrid.Field label="Nr. of attempts" for="drop-rates:nr-attempts">
        <input
          id="drop-rates:nr-attempts"
          name="nr-attempts"
          type="text"
          inputmode="numeric"
          pattern="\\d+"
        />
      </FormGrid.Field>

      <hr />

      <FormGrid.Field label="Chance" for="drop-rates:chance" suffix="%">
        <input id="drop-rates:chance" type="text" readonly />
      </FormGrid.Field>

      <FormGrid.Field label="95%" for="drop-rates:p95">
        <input id="drop-rates:p95" type="text" readonly />
      </FormGrid.Field>

      <FormGrid.Field label="99%" for="drop-rates:p99">
        <input id="drop-rates:p99" type="text" readonly />
      </FormGrid.Field>
    </FormGrid>
  </form>
</Layout>

<script>
  import {
    getInputFieldById,
    InputParser,
    InputFormatter,
  } from '$lib/form/util'
  import { computeChance, computePercentiles } from '$lib/tools/drop-rates'

  const Fields = getFields()

  setChance()
  setPercentiles()

  function getFields() {
    const dropRateEl = getInputFieldById('drop-rates:drop-rate')
    const nrAttemptsEl = getInputFieldById('drop-rates:nr-attempts')
    const chanceEl = getInputFieldById('drop-rates:chance')
    const p95El = getInputFieldById('drop-rates:p95')
    const p99El = getInputFieldById('drop-rates:p99')

    dropRateEl.addEventListener('input', () => {
      setChance()
      setPercentiles()
    })

    nrAttemptsEl.addEventListener('input', () => {
      setChance()
    })

    return {
      get dropRate() {
        return InputParser.numeric(dropRateEl.value)
      },

      get nrAttempts() {
        return InputParser.numeric(nrAttemptsEl.value)
      },

      set chance(value: number | null) {
        chanceEl.value = InputFormatter.numeric(value)
      },

      set p95(value: number | null) {
        p95El.value = InputFormatter.numeric(value)
      },

      set p99(value: number | null) {
        p99El.value = InputFormatter.numeric(value)
      },
    }
  }

  function setChance() {
    const { dropRate, nrAttempts } = Fields
    Fields.chance = computeChance(dropRate, nrAttempts)
  }

  function setPercentiles() {
    const { dropRate } = Fields
    const { p95, p99 } = computePercentiles(dropRate)
    Fields.p95 = p95
    Fields.p99 = p99
  }
</script>
