---
import Layout from '$layouts/Tools.astro'
import ToolList from '$components/ToolList'
---

<Layout>
  <h1>Tools</h1>

  <ToolList>
    <ToolList.Item name="Countdown" href="/tools/countdown">
      Solves the numbers game in Countdown.
    </ToolList.Item>
    <ToolList.Item name="Drop Rate Calculator" href="/tools/drop-rates">
      Given a drop rate, computes how many attempts you actually need to get
      your item.
    </ToolList.Item>
  </ToolList>
</Layout>
