@use 'app-settings';
@use 'app-header';
@use 'app-main';
@use 'app-side-menu';

.app {
  display: grid;
  grid-template:
    'header    header' auto
    'side-menu main  ' 1fr
    / auto 1fr;
  inline-size: 100%;
  block-size: 100%;
}

@media (max-width: app-settings.$breakpoint) {
  .app {
    display: flex;
    flex-direction: column;
  }
}
