---
type Props = {
  suffix?: boolean
}

const { suffix = false } = Astro.props
---

<section class="form-grid" data-suffix={suffix}>
  <slot />
</section>

<style lang="scss">
  section {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem;
    align-items: center;

    &[data-suffix] {
      grid-template-columns: max-content 1fr max-content;
    }
  }
</style>

<style is:global lang="scss">
  .form-grid {
    > hr {
      grid-column: span 2;
    }

    > [data-start='1'] {
      grid-column-start: 1;
    }

    > [data-start='2'] {
      grid-column-start: 2;
    }

    > [data-start='3'] {
      grid-column-start: 3;
    }
  }
</style>
