@use '../form';

.countdown-form-grid {
  @extend %form-grid;

  grid-template-columns: max-content 1fr 1fr;

  > input:nth-of-type(3),
  > input:nth-of-type(5) {
    grid-column-start: 2;
  }

  > input:nth-of-type(7) {
    grid-column: span 2;
  }

  > button {
    grid-column: 2 / span 2;
  }
}
