:root {
  font-family: var(--base-font-family);
  accent-color: var(--highlight-color);
}

:root,
body {
  inline-size: 100%;
  padding: 0;
  margin: 0;
  block-size: 100%;
}

body {
  color: var(--base-foreground-color);
  background-color: var(--base-background-color);
}

* {
  box-sizing: border-box;
}
