@use 'util/mixins';
@use 'util/form';

input[type='date'],
input[type='datetime-local'] {
  box-sizing: content-box;
  appearance: none;
  block-size: 1.2rem;
}

input:not([type='range'], [type='radio'], [type='checkbox']),
textarea,
.input {
  @include mixins.focusable-ui-component;

  min-inline-size: 2rem;
  color: #333;
  background: #fff;
  border: thin solid #666;

  &:disabled {
    color: #666;
    background: #eee;
    border-color: #999;
  }

  &:valid {
    border-color: var(--success-border);
    box-shadow: 0 0 2px var(--success-border);
  }

  &:invalid {
    border-color: var(--error-border);
    box-shadow: 0 0 2px var(--error-border);
  }
}

button,
input[type='button'] {
  @include mixins.focusable-ui-component;

  margin-block: 0;
  margin-inline: 0;
  color: #333;
  background: #ccc;
  border: thin solid #333;

  &:disabled {
    color: #666;
    border-color: #666;
  }
}

.form-grid {
  @extend %form-grid;

  > [data-start='1'] {
    grid-column-start: 1;
  }

  > [data-start='2'] {
    grid-column-start: 2;
  }

  > [data-start='3'] {
    grid-column-start: 3;
  }

  > [data-span='2'] {
    grid-column: span 2;
  }

  > [data-span='3'] {
    grid-column: span 3;
  }

  > hr,
  > [data-span='full'] {
    grid-column: 1 / span 2;

    & + * {
      grid-column-start: 1;
    }
  }

  &[data-suffix] {
    grid-template-columns: max-content auto max-content;

    > [data-span='full'] {
      grid-column: 1 / span 3;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
