---
import Authenticators from '$components/Profile/Authenticators.astro'
import AddAuthenticator from '$components/Profile/AddAuthenticator.astro'
import Profile from '$components/Profile/Profile.astro'
import Layout from '$layouts/Base.astro'
import { getProfile, updateProfile, type ProfileResponse } from '$lib/auth/profileApi'
import { checkJwtOrRedirect } from '$lib/auth/util'
import { UnauthorizedError } from '$lib/errors/UnauthorizedError'

const jwt = checkJwtOrRedirect(Astro)
if (jwt instanceof Response) {
  return jwt
}

if (Astro.request.method === 'POST') {
  const data = await Astro.request.formData()
  const name = (data.get('name') || undefined) as string | undefined

  await updateProfile(jwt, name)

  return Astro.redirect('/profile')
}

let profile: ProfileResponse | undefined = undefined
let error: string | undefined = undefined

try {
  profile = await getProfile(jwt)
} catch (err) {
  if (err instanceof UnauthorizedError) {
    return err.toResponse(Astro)
  }
  error = `${err}`
}
---

<Layout title="profile">
  <h1>Profile</h1>

  {error && <p class="error">{error}</p>}

  {
    profile && (
      <>
        <Profile profile={profile} />

        <h2>Authenticators</h2>

        <Authenticators profile={profile} />
        <AddAuthenticator />
      </>
    )
  }
</Layout>
