input[type='date'],
input[type='datetime-local'] {
  box-sizing: content-box;
  appearance: none;
  block-size: 1.2rem;
}

input:not([type='range'], [type='radio'], [type='checkbox']),
textarea,
.input {
  inline-size: 100%;
  font-size: inherit;
}

button,
input[type='button'],
input[type='submit'] {
  inline-size: 100%;
  font-size: inherit;
}
