@use 'util/mixins';

input[type='date'],
input[type='datetime-local'] {
  appearance: none;
  block-size: 2.3rem;
}

input:not([type='range'], [type='radio'], [type='checkbox']),
textarea,
.input {
  @include mixins.focusable-ui-component;

  inline-size: 100%;
  background-color: var(--input-background-color);
  color: var(--input-foreground-color);
  border: 1px solid var(--input-border-color);
}

button,
input[type='button'],
input[type='submit'] {
  @include mixins.focusable-ui-component;

  inline-size: 100%;
  background-color: var(--button-background-color);
  color: var(--button-foreground-color);
  border: 1px solid var(--button-border-color);
  outline-color: var(--button-foreground-color) !important;

  &.link {
    @include mixins.link;

    inline-size: initial;
    display: inline;
    padding: 0;
    margin: 0;
    font: inherit;
    text-align: start;
    appearance: none;
    background: transparent;
    border: none;
  }
}
