@mixin link {
  color: var(--base-link-color);
  text-decoration: none;
  cursor: pointer;
  outline: initial;

  &:hover,
  &:focus {
    color: var(--base-link-hover-color);
    text-decoration: underline;
    outline: initial;
  }
}

@mixin success {
  color: var(--success-foreground);
  background: var(--success-background);
  border-color: var(--success-border);
}

@mixin warning {
  color: var(--warning-foreground);
  background: var(--warning-background);
  border-color: var(--warning-border);
}

@mixin error {
  color: var(--error-foreground);
  background: var(--error-background);
  border-color: var(--error-border);
}

@mixin focusable-ui-component {
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.2rem;
  outline: none;

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-offset);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
