:root {
  /* Base settings */
  --base-font-family: tahoma, arial, 'Roboto', sans-serif;
  --base-background-image: url('/img/bg-light.png');
  --base-background-color: #f3f3f3;
  --base-foreground-color: #333;
  --base-link-color: #337ab7;
  --base-link-color-hover: #23527c;

  /* Headers (h1, h2, ...) */
  --headers-font-family: lucida grande, verdana, arial, sans-serif;

  /* Branding */
  --theme-color-1: #474069;
  --theme-foreground-color-1: #ddd;
  --theme-foreground-color-1-active: #fff;
  --theme-color-2: #1c192a;
  --theme-foreground-color-2: var(--theme-foreground-color-1);
  --theme-foreground-color-2-active: var(--theme-foreground-color-2);
  --theme-color-3: #746ba4;
  --theme-foreground-color-3: #fff;
  --theme-foreground-color-3-active: var(--theme-foreground-color-3);
  --accent-color: var(--theme-color-3);

  /* Focus */
  --focus-outline: thin dashed #333;
  --focus-offset: -0.25rem;

  /* Card */
  --card-background-color: #fff;
  --card-foreground-color: #333;
  --card-border-color: #333;

  /* Form */
  --input-background-color: #fff;
  --input-foreground-color: #333;
  --input-border-color: #666;
  --button-background-color: var(--theme-color-1);
  --button-foreground-color: var(--theme-foreground-color-1);
  --button-border-color: #333;
  --button-background-color-hover: var(--theme-color-3);
  --button-foreground-color-hover: var(--button-foreground-color);
  --button-border-color-hover: var(--button-border-color);

  /* Table */
  --table-odd-row-background-color: var(--base-background-color);
  --table-even-row-background-color: #fff;

  /* Statuses */
  --success-foreground-color: #393;
  --success-border-color: var(--success-foreground-color);
  --error-foreground-color: #933;
  --error-border-color: var(--error-foreground-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Base settings */
    --base-background-image: url('/img/bg-dark.png');
    --base-background-color: #111;
    --base-foreground-color: #aaa;

    /* Focus */
    --focus-outline: thin dashed #aaa;

    /* Card */
    --card-background-color: #333;
    --card-foreground-color: #aaa;
    --card-border-color: #aaa;

    /* Form */
    --input-background-color: #333;
    --input-foreground-color: #aaa;
    --input-border-color: #aaa;

    /* Table */
    --table-odd-row-background-color: var(--base-background-color);
    --table-even-row-background-color: #333;

    /* Statuses */
    --success-foreground-color: #9f9;
    --error-foreground-color: #f99;
  }
}
