$grid-cell-radius: 2.5rem
$grid-padding: .5rem
$grid-border: .5rem
$half-hex-width: 1.1547

body
  background: #543210
  display: grid
  place-items: center

#root
  display: contents

.hex-grid-wrapper
  display: flex
  flex-direction: column-reverse
  align-items: flex-end

.debug-toggle
  background: #fefefe
  color: #333
  margin-right: 2rem
  padding: .5rem 1.5rem
  border-radius: 0 0 .5rem .5rem
  font-size: 90%
  cursor: pointer

  input
    position: relative
    left: -.5rem

.hex-grid
  background: #caa472
  color: #333
  border: $grid-border solid #855e42
  border-radius: 1.5rem
  box-shadow: .25rem .25rem .5rem #000a, inset .1rem .1rem .25rem #000c
  padding: $grid-padding
    bottom: $grid-padding + 0.5*$grid-cell-radius
  margin: auto

  &__row
    overflow: visible
    height: 1.5*$grid-cell-radius
    white-space: nowrap

  &--offset-odd &__row--odd
    margin-left: $grid-cell-radius / $half-hex-width

  &--offset-even &__row--even
    margin-left: $grid-cell-radius / $half-hex-width

  &__cell
    background: #fff8dc
    display: inline-grid
    place-items: center
    width: 2*$grid-cell-radius / $half-hex-width
    height: 2*$grid-cell-radius
    overflow: hidden
    font-size: 8px
    white-space: nowrap
    clip-path: polygon(50% 1%, 1% 25%, 1% 75%, 50% 99%, 99% 75%, 99% 25%)

    &:hover
      background: #855e42
      color: #000

    &--hidden
      visibility: hidden
