---
import Layout from '$layouts/Base.astro'

export const prerender = true
---

<Layout>
  <h1>Hello, World!</h1>

  <p>
    Welcome to this page. I use this website to dump random stuff.
    <a href="https://www.ruud.online">You can find my homepage here</a>.
  </p>
</Layout>
