---
import Layout from '$layouts/Base.astro'
import { JwtCookie } from '$lib/auth/cookies'

const jwtCookie = new JwtCookie(Astro.cookies)

if (Astro.request.method === 'POST') {
  jwtCookie.delete()

  return Astro.redirect('/')
}
---

<Layout title="log out">
  <h1>Log out</h1>

  <form action="/logout" method="post">
    <button>Log out</button>
  </form>
</Layout>
