@import 'vars'

h1, h2, h3, h4, h5, h6
  font:
    family: $headers-font-family
    weight: 700

h1
  font-size: 2rem
  padding: 0
  margin: 1.5rem 0 .75rem

h2
  font-size: 1.75rem
  padding: 0
  margin: 1.5rem 0 .75rem

p
  margin: 0 0 .75rem
  padding: 0

  &:last-child
    margin-bottom: 0

ol, ul
  margin:
    top: 0
    bottom: .75rem

code
  background: #fbe5e1
  color: #c0341d
  border-radius: .25rem
  padding: .125rem .25rem

pre
  background: #333
  color: #fff
  border-radius: .5rem
  padding: .5rem
  overflow: auto
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace

  > code
    background: transparent
    color: inherit
    font: inherit
    padding: 0
    border-radius: 0
