---
type Props = {
  label: string
  for: string
  suffix?: string
}

const { label, for: htmlFor, suffix } = Astro.props
---

<label data-start="1" for={htmlFor} class="form-grid-field-label">
  {label}
</label>
<slot />
{suffix && <label for={htmlFor}>{suffix}</label>}

<style>
  .form-grid-field-label {
    padding-inline-start: var(--form-grid-field-padding-start, 1rem);
    text-align: var(--form-grid-field-label-alignment, end);
  }
</style>
