%form-grid {
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 0.5rem;
  column-gap: 1.5rem;

  & > label {
    padding: calc(0.5rem + 1px);
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
