.hex-grid
  &__cell
    &--forest
      background: #233826
      color: white

    &--pasture
      background: #5b9f3d
      color: black

    &--field
      background: #b89040
      color: black

    &--hill
      background: #743c2c
      color: black

    &--mountain
      background: #4a4973
      color: black

    &--gold-field
      background: red
      color: black

    &--ocean
      background: #027aea
      color: black

    &--desert
      background: #b7a177
      color: black

.value-display
  background: #fff
  color: black
  border-radius: 50%
  width: 1.5rem
  height: 1.5rem
  display: grid
  place-items: center
