---
import '$styles/main.css'

const BASE_TITLE = 'rdcl.dev'

type Props = {
  title?: string
}

const { title } = Astro.props
const pageTitle = title ? `${title} | ${BASE_TITLE}` : BASE_TITLE
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#474069" />
    <meta name="color-scheme" content="light dark" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{pageTitle}</title>
  </head>
  <body>
    <header>rdcl.dev</header>

    <nav>
      <a href="/">Home</a>
      <a href="/tools">Tools</a>
    </nav>

    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  header {
    inline-size: max-content;
    margin-block: 1rem;
    margin-inline: auto;
    font-size: 2rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    inline-size: max-content;
    margin-block: 1rem 3rem;
    margin-inline: auto;
  }

  main {
    padding: 1rem;
  }
</style>
