@import "vars"

html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

html
  box-sizing: border-box
  font:
    family: $base-font-family
    size: $base-font-size
  scroll-behavior: smooth
  text-rendering: optimizeLegibility

body
  background-color: $base-background-color
  color: $base-foreground-color

*
  box-sizing: inherit
