@mixin link {
  color: var(--base-link-color);
  text-decoration: underline;
  cursor: pointer;
  outline: initial;

  &:hover,
  &:focus {
    color: var(--base-link-color-hover);
    outline: initial;
  }
}

@mixin focusable-ui-component {
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.2rem;
  outline: none;

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-offset);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
